.git
.gitignore
.github
.vscode
.venv
.env
.editorconfig
.pylintrc
.dockerignore
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
tests/
docs/
*.md
!README.md
LICENSE
Dockerfile
